
@import 'compass';

@import "core/mixins/centerElement";

$susy: (
    global-box-sizing: border-box,
);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

$font1: 'Montserrat', sans-serif;
$font2: 'Open Sans', sans-serif;
$font3: $font2;
$font4: $font2;

$color1: #e63b12;
$color2: #444;
$color3: $color2;
$color4: $color2;

//basic setup
$body-color: #fff;
$base_font_size: 14px;
$base_text_color: #444;
$base_line_height: 150%;
$base_font:$font2;

//basic link
$link_decoration: none;
$link_color: $color1;
$link_hover_color: $color1;

$paragraph_margin_mobile: 10px 0 20px 0;
$paragraph_margin_tablet: 10px 0 20px 0;
$paragraph_margin_desktop: 10px 0 20px 0;

$max-page-width: 960px;
$screen-size-mobile: 0px;
$screen-size-tablet: 650px;
$screen-size-desktop: 1020px;
$screen-size-bigscreen: 1600px;

//buttons
$button_padding: 10px 25px;
$button_bg_color:$color1;
$button_text_color:#fff;
$button_hover_bg_color:#ccc;
$button_hover_text_color: $color1;
$button_border_radius:5px;

//form
$input_padding: 10px 25px;
$input_border_radius:5px;
$placeholder_color: #999;
$input_text_color: $base_text_color;

//===============================================================================
//  HEADINGS
//-------------------------------------------------------------------------------

//heading 1 settings
//-------------------------------------------------------------------------------
$h1_font: $font1;
$h1_color: $color1;
$h1_line_height: 100%;
$h1_font_weight: 400;

$h1_margin_desktop: 20px 0;
$h1_margin_tablet: 15px 0;
$h1_margin_mobile: 10px 0;

$h1_font_size_desktop: 55px;
$h1_font_size_tablet: 45px;
$h1_font-size_mobile: 30px;

//heading 2 settings
//-------------------------------------------------------------------------------
$h2_font: $font1;
$h2_color: $color2;
$h2_line_height: 110%;
$h2_font_weight: 600;

$h2_margin_desktop: 20px 0;
$h2_margin_tablet: 15px 0;
$h2_margin_mobile: 10px 0;

$h2_font_size_desktop: 35px;
$h2_font_size_tablet: 28px;
$h2_font-size_mobile: 20px;

//heading 3 settings
//-------------------------------------------------------------------------------
$h3_font: $font2;
$h3_color: $color1;
$h3_line_height: 110%;
$h3_font_weight: 600;

$h3_margin_desktop: 20px 0;
$h3_margin_tablet: 15px 0;
$h3_margin_mobile: 10px 0;

$h3_font_size_desktop: 25px;
$h3_font_size_tablet: 20px;
$h3_font-size_mobile: 18px;

//heading 4 settings
//-------------------------------------------------------------------------------
$h4_font: $font2;
$h4_color: $color1;
$h4_line_height: 110%;
$h4_font_weight: 600;

$h4_margin_desktop: 20px 0 0 0;
$h4_margin_tablet: 15px 0 0 0;
$h4_margin_mobile: 10px 0 0 0;

$h4_font_size_desktop: 18px;
$h4_font_size_tablet: 17px;
$h4_font-size_mobile: 16px;

//heading 5 settings
//-------------------------------------------------------------------------------
$h5_font: $font2;
$h5_color: $color1;
$h5_line_height: 110%;
$h5_font_weight: 700;

$h5_margin_desktop: 20px 0 0 0;
$h5_margin_tablet: 15px 0 0 0;
$h5_margin_mobile: 10px 0 0 0;

$h5_font_size_desktop: 16px;
$h5_font_size_tablet: 15px;
$h5_font-size_mobile: 14px;

//heading 6 settings
//-------------------------------------------------------------------------------
$h6_font: $font2;
$h6_color: $color1;
$h6_line_height: 110%;
$h6_font_weight: 700;

$h6_margin_desktop: 20px 0 0 0;
$h6_margin_tablet: 15px 0 0 0;
$h6_margin_mobile: 10px 0 0 0;

$h6_font_size_desktop: 14px;
$h6_font_size_tablet: 13px;
$h6_font-size_mobile: 12px;

//===============================================================================
//predefined classes
//-------------------------------------------------------------------------------

.color-1 {color:$color1 !important;}
.color-2 {color:$color2 !important;}
.color-3 {color:$color3 !important;}
.color-4 {color:$color4 !important;}

.bg-color-1 {background-color:$color1 !important;}
.bg-color-2 {background-color:$color2 !important;}
.bg-color-3 {background-color:$color3 !important;}
.bg-color-4 {background-color:$color4 !important;}

//===============================================================================
// Predefine elements
//-------------------------------------------------------------------------------

@import "core/predefine";
